@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
    <h3 class="display-4">Sveiki atvykę!</h3><br>
    <p>Čia rasite mano kurtą autonuomos servisą</p><br>
    <p>Žiurekite meniu viršuje.</p><br>

    <h4>O čia pagerinti nuotaikai:</h4><br>
    <img src="https://i.pinimg.com/originals/e1/ed/14/e1ed14b4dddb4cdbde7371327a8e0c98.jpg" alt="Doge" width="500" height="333">
</div>

